*.tif
*.pt
*.sh
*.txt
*.zip
train_annotations_coco.json
test_annotations_coco.json
exports/
runs/segment/*
**/.DS_Store
!requirements.txt
!yolo11s-seg.pt
!yolov8s-seg.pt
.virtual_documents/*
.ipynb_checkpoints/*
*/.virtual_documents/*
*/.ipynb_checkpoints/*