ultralytics==8.3.185
pycocotools>=2.0.7
opencv-python-headless>=4.10
numpy>=1.26
pandas>=2.2
matplotlib>=3.8
shapely>=2.0
seaborn>=0.13
geemap>=0.32
python-dotenv>=1.0
papermill>=2.5
ipykernel>=6.17.1
jupyterlab>=4.1
scikit-learn>=1.4
pillow>=10.3
-f https://download.pytorch.org/whl/torch_stable.html
# torch/torchvision: let Colab pick; install explicitly only if needed:
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121


# google-colab 1.0.0 requires ipykernel==6.17.1, but you have ipykernel 6.30.1 which is incompatible.
# google-colab 1.0.0 requires jupyter-server==1.16.0, but you have jupyter-server 2.17.0 which is incompatible.
# jupyter-kernel-gateway 2.5.2 requires jupyter-client<8.0,>=5.2.0, but you have jupyter-client 8.6.3 which is incompatible.
# jupyter-kernel-gateway 2.5.2 requires notebook<7.0,>=5.7.6, but you have notebook 7.4.5 which is incompatible.
# Mounted at /content/drive/